<img src="http://oci02.img.iteso.mx/identidad_de_instancia_2018/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg">

---

<center> <font color= #004A94> <font size = 5> Ingeniería Financiera | ITESO </font> <br> <br>

<center> <font color= #004A94> <font size = 6> Microestructura y Sistemas de Trading </font> <br> <br>

<center> <font color=#42c29b><font size=5> Laboratorio 2 <br> <br> Behavioral Finance para Trading </font> <br> <br>

<center> <H3>Profesor:</H1><font color=#004A94><font size=4> I.F. Juan Francisco Muñoz Elguezabal | franciscome@iteso.mx </font> <br> <br>

<center> <H3>Alumno:</H1><font color=#004A94><font size=4> I.F. Carlos Elias Nuño Tiscareño| if708830@iteso.mx </font> <br> <br>

# Abstract

En este trabajo ...

# Analisis de cuenta de trading

In [1]:
import funciones as fn

archivo = "archivo_tradeview_1.xlsx"
df_archivo = fn.f_leer_archivo(archivo)
datos = df_archivo
datos = fn.f_columnas_tiempos(datos)
datos = fn.f_columnas_pips(datos)
datos = fn.capital_acm(datos)

f_estadisticas = fn.f_estadisticas_ba(datos)
Profit_diario = fn.f_profit_diario(datos)

In [2]:
datos.head()

,order,opentime,type,size,symbol,openprice,s/l,t/p,closetime,closeprice,commission,taxes,swap,profit,Time,Pips,Capital_acm
0,24316034,2019.08.27 06:57:50,buy,0.04,xauusd,1529.21000,1523.000,1543.0000,2019.08.27 09:16:01,1533.69000,0.0,0,0,17.92,8291,44.8,5017.92
1,24334215,2019.08.27 17:06:20,buy,0.01,eurjpy,117.66400,116.950,118.7000,2019.08.29 06:38:16,117.37400,0.0,0,0,-2.73,48716,-29.0,5015.19
2,24342155,2019.08.27 19:25:39,buy,0.05,eurjpy,117.34600,116.950,119.7000,2019.08.28 21:01:24,117.45200,0.0,0,0,5.00,5745,10.6,5020.19
3,24373260,2019.08.28 17:11:33,buy,0.01,eurusd,1.10791,1.104,1.1175,2019.08.29 06:38:28,1.10818,0.0,0,0,0.27,48415,2.7,5020.46
4,24392415,2019.08.29 06:35:27,buy,0.01,gbpusd,1.22024,1.208,1.2370,2019.08.29 06:37:23,1.21990,0.0,0,0,-0.34,116,-3.4,5020.12

# Poner nota de el DF que se imprimio arriba

In [3]:
f_estadisticas['Estadistica']

             Medida      Valor                            Descripcion
0       Ops totales  84.000000                    Operaciones totales
1         Ganadoras  46.000000                  Operaciones ganadoras
2       Ganadoras_c  20.000000        Operaciones ganadoras de compra
3       Ganadoras_v  26.000000        Operaciones perdedoras de venta
4        Perdedoras  38.000000                 Operaciones perdedoras
5      Perdedoras_c  19.000000       Operaciones perdedoras de compra
6      Perdedoras_v  19.000000        Operaciones perdedoras de venta
7    Media (Profit)   3.025357       Mediana de profit de operaciones
8      Media (Pips)  20.920595         Mediana de pips de operaciones
9     r_efectividad   0.547619  Ganadoras Totales/Operaciones Totales
10     r_proporcion   0.826087   Perdedoras Totales/Ganadoras Totales
11  r_efectividad_c   0.238095  Ganadoras Compras/Operaciones Totales
12  r_efectividad_v   0.309524  Ganadoras Ventas/ Operaciones Totales


# Poner notas de la tabla de arriba

In [4]:
f_estadisticas['Efectividad']

    symbol    profit
0   audusd  33.3333%
1   btcusd    100.0%
2   eurgbp    100.0%
3   eurjpy  28.5714%
4   eurusd  47.8261%
5   gbpjpy     25.0%
6   gbpusd  66.6667%
7   usdcad  28.5714%
8   usdjpy     60.0%
9   usdmxn     80.0%
10  xauusd  73.6842%

# Poner notas de la tabla de arriba

In [8]:
Profit_diario

    timestamp  profit_d  profit_acm_d
0  2019-08-27     27.61       5027.61
1  2019-08-28      5.00       5032.61
2  2019-08-29     -1.52       5031.09
3  2019-08-30    -17.16       5013.93
4  2019-08-31      0.00       5013.93
5  2019-09-01      0.00       5013.93
6  2019-09-02    -33.90       4980.03
7  2019-09-03   -137.90       4842.13
8  2019-09-04     29.11       4871.24
9  2019-09-05      0.00       4871.24
10 2019-09-06      7.27       4878.51
11 2019-09-07      0.00       4878.51
12 2019-09-08      0.00       4878.51
13 2019-09-09      0.00       4878.51
14 2019-09-10      0.00       4878.51
15 2019-09-11     44.24       4922.75
16 2019-09-12     -7.61       4915.14
17 2019-09-13     64.68       4979.82
18 2019-09-14      0.00       4979.82
19 2019-09-15      0.00       4979.82
20 2019-09-16    106.68       5086.50
21 2019-09-17     -2.64       5083.86
22 2019-09-18     13.62       5097.48
23 2019-09-19     32.85       5130.33
24 2019-09-20     14.46       5144.79
25 2019-09-21      0.00       5144.79
26 2019-09-22      0.00       5144.79
27 2019-09-23      0.00       5144.79
28 2019-09-24     50.29       5195.08
29 2019-09-25     68.88       5263.96
30 2019-09-26    -16.67       5247.29
31 2019-09-27      6.84       5254.13